<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main/main.css}">
        <link rel="stylesheet" th:href="@{/styles/bets/bets.css}">
        <title>Betfair API Bot - Cancel Execution Report</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <div th:if="${ report.get().getStatus().equals('SUCCESS') }">
                <h2 class="title">Bet successfully cancelled</h2>
            </div>
            <div th:unless="${ report.get().getStatus().equals('SUCCESS') }">
                <div class="cancelStatus">Something went wrong, the bet couldn't be cancelled</div>
            </div>

            <article class="betData">
                <span class="label">Event: </span>
                <span class="betDetail" th:text="${ report.get().getEventName() }"></span>
                <br>

                <span class="label">Market: </span>
                <span class="betDetail" th:text="${ report.get().getMarketName() }"></span>
                <br>


                <div class="thContainer" th:unless="${ report.get().getInstructionReports() == null || report.get().getInstructionReports().size() == 0 }">
                    <span class="label">Runner: </span>
                    <span class="betDetail" th:text="${ report.get().getInstructionReports().get(0).getRunnerName() }"></span>
                    <br>

                    <div class="dataContainer" th:if="${ report.get().getStatus().equals('SUCCESS') }">
                        <span class="label">Size cancelled: </span>
                        <span class="data" th:text="${ report.get().getInstructionReports().get(0).getSizeCancelled() }"></span>
                        <br>

                        <span class="label">Cancelled on </span>
                        <span class="data" th:text="${ report.get().getInstructionReports().get(0).getCancelledDateTime().toLocalDate() }"></span>

                        <span class="label"> at </span>
                        <span class="data" th:text="${ report.get().getInstructionReports().get(0).getCancelledDateTime().toLocalTime() }"></span>
                        <br>
                    </div>
                </div>

                <span class="label">Cancel Status: </span>
                <span class="betDetail" th:text="${ report.get().getStatus() }"></span>
                <br>
            </article>
        </div>
    </body>
</html>
