<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main/list.css}">
        <link rel="stylesheet" th:href="@{/styles/main/main.css}">
        <title>Betfair API Bot - Current Bets</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <h2 class="title">Current Bets</h2>
            <article th:each="bet : ${ bets }" class="bet">
                <div class="betData">
                    <span class="betDetailLabel">Event: </span>
                    <span th:text="${ bet.getEventName() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Market: </span>
                    <span th:text="${ bet.getMarketName() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Runner: </span>
                    <span th:text="${ bet.getRunnerName() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Bet ID: </span>
                    <span th:text="${ bet.getBetId() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Status: </span>
                    <span th:text="${ bet.getStatus() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Side: </span>
                    <span th:text="${ bet.getSide() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Price: </span>
                    <span th:text="${ bet.getPrice() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Size: </span>
                    <span th:text="${ bet.getSize() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Size Matched: </span>
                    <span th:text="${ bet.getSizeMatched() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Size Remaining: </span>
                    <span th:text="${ bet.getSizeRemaining() }" class="betDetail"></span>
                    <br>

                    <span class="betDetailLabel">Handicap: </span>
                    <span th:text="${ bet.getHandicap() }" class="betDetail"></span>
                    <br>

                    <div class="dateContainer" th:unless="${ bet.getPlacedDate() == null }">
                        <span class="betDetailLabel">Placed on </span>
                        <span th:text="${ bet.placedDateTime().toLocalDate() }" class="betDetail"></span>

                        <span class="betDetailLabel"> at </span>
                        <span th:text="${ bet.placedDateTime().toLocalTime() }" class="betDetail"></span>
                        <br>
                    </div>
                </div>

                <form th:action="@{/bets/delete}" method="post" class="cancelButton">
                    <input type="hidden" th:value="${ bet.getMarketId() }" name="marketId">
                    <input type="hidden" th:value="${ bet.getBetId() }" name="betId">
                    <input type="submit" value="Cancel Bet" class="button" id="cancelButton">
                </form>
            </article>
        </div>
    </body>
</html>
