<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" th:href="@{/styles/main/main.css}">
        <link rel="stylesheet" th:href="@{/styles/main/list.css}">
        <link rel="stylesheet" th:href="@{/styles/events/eventTypes.css}">
        <script defer type="text/javascript" th:src="@{/js/main.js}"></script>

        <title>Betfair API Bot - Event Types</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <h2 class="title">Event Types</h2>

            <div th:unless="${ eventTypes == null || eventTypes.size() == 0 }">
                <article class="eventType" th:each="eventType : ${ eventTypes }">
                    <div class="eventTypeData">
                        <p th:text="${ eventType.getName() }" class="eventTypeName"></p>
                        <span class="marketCountLabel">Market Count: </span><span th:text="${ eventType.getMarketCount() }" class="marketCount"></span>
                    </div>
                    <div class="buttonContainer">
                        <a th:href="@{/events/list/{eventTypeId}(eventTypeId=${eventType.getId()})}">
                            <button class="button">View Events</button>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>
