<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" th:href="@{/styles/main/main.css}">
        <link rel="stylesheet" th:href="@{/styles/main/list.css}">
        <link rel="stylesheet" th:href="@{/styles/markets/marketBook.css}">
        <script defer type="text/javascript" th:src="@{/js/main.js}"></script>

        <title>Betfair API Bot - Market Book</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <div th:unless="${ marketBook == null }">
                <div class="marketDescription">
                    <span class="marketBookLabel">Best prices for </span>
                    <span class="event" th:text="${ marketBook.getEventName() }"></span>
                    <span class="marketBookLabel"> - </span><span class="market" th:text="${ marketBook.getMarketName() }"></span>
                    <div class="competitionContainer" th:unless="${ marketBook.getCompetitionName() == null ||
                        marketBook.getCompetitionName().equals(marketBook.getEventName()) }">
                        <div class="competition" th:text="${ marketBook.getCompetitionName() }"></div>
                    </div>
                    <div class="eventType" th:text="${ marketBook.getEventTypeName() }"></div>
                </div>

                <article class="runner" th:each="runner : ${ marketBook.getRunners() }">
                    <div class="runnerData">
                        <div class="runnerName" th:text="${ runner.getRunnerName() }"></div>
                        <div class="handicap" th:if="${ runner.getHandicap() != null }">
                            <span class="label">Handicap: </span><span class="handicapData" th:text="${ runner.getHandicap() }"></span>
                        </div>
                        <div class="prices">
                            <div class="thContainer" th:unless="${ runner.getAvailableToBack().size == 0 }">
                                <div class="priceType">Available to back</div>
                                <div class="priceSize" th:each="price : ${ runner.getAvailableToBack() }">
                                    <span class="label">Price: </span>
                                    <span class="priceData" th:text="${ price.getPrice() }"></span>
                                    <span class="label"> Size: </span>
                                    <span class="priceData" th:text="${ price.getSize() }"></span>
                                </div>
                            </div>

                            <div class="thContainer" th:unless="${ runner.getAvailableToLay().size == 0 }">
                                <div class="priceType">Available to lay</div>
                                <div class="priceSize" th:each="price : ${ runner.getAvailableToLay() }">
                                    <span class="label">Price: </span>
                                    <span class="priceData" th:text="${ price.getPrice() }"></span>
                                    <span class="label">, Size: </span>
                                    <span class="priceData" th:text="${ price.getSize() }"></span>
                                </div>
                            </div>

                            <div class="thContainer" th:unless="${ runner.getTradedVolume().size == 0 }">
                                <div class="priceType">Traded volume</div>
                                <div class="priceSize" th:each="price : ${ runner.getTradedVolume() }">
                                    <span class="label">Price: </span>
                                    <span class="priceData" th:text="${ price.getPrice() }"></span>
                                    <span class="label">, Size: </span>
                                    <span class="priceData" th:text="${ price.getSize() }"></span>
                                </div>
                            </div>

                            <div class="noPrices" th:if="${ runner.getAvailableToBack().size() == 0 &&
                            runner.getAvailableToLay().size() == 0 &&
                            runner.getTradedVolume().size() == 0 }">
                                No prices available
                            </div>
                        </div>
                    </div>

                    <a class="link" th:href="@{/bets/new/{marketId}/{selectionId}(selectionId=${runner.getSelectionId()}, marketId=${marketBook.getMarketId()})}">
                        <button id="placeBetButton" class="button">Place Bet</button>
                    </a>
                </article>
            </div>
        </div>
    </body>
</html>
