.betDetail {
    font-weight: 600;
    margin-top: 5px;
}

.betData {
    border-radius: 5px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 30px;
}

.betData, .betDetail, .label, .data,
.dataContainer, .date, .time, .dateContainer, .thContainer {
    background-color: #C8D8E4;
    color: #2B6777;
    font-size: 20px;
}

/* Cancel report */

.title {
    margin-bottom: 40px;
}

.data {
    font-weight: 600;
}

.cancelStatus {
    color: #C8D8E4;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}
