.price, .size, .side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: #C8D8E4;
    color: #2B6777;
}

.side {
    text-align-last:center;
}

.side {
    margin-bottom: 10px;
}

.price, .side, .size, .button {
    width: 100%
}

.form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
