.eventTypeData, .eventTypeName,.marketCount, .marketCountLabel {
    background-color: #C8D8E4;
    color: #2B6777;
}

.eventTypeData {
    width: 70%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.eventType {
    display: flex;
    width: 600px;
}

.eventTypeName {
    font-weight: 600;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marketCount {
    font-weight: 600;
}

.buttonContainer {
    height: 100%;
    width: 30%;
}

.button, .eventTypeData {
    height: 100px;
    margin: 5px;
}

.button {
    width: 100%;
}

.title {
    margin-bottom: 30px;
}
