<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Betfair API Bot</title>
    </head>
    <body>
        <h1>Betfair API Bot</h1>

        <form action="/eventTypes/list" th:action="@{/sessions/new}" method="post">
            <input type="text" name="username" placeholder="Username" class="username">
            <input type="text" name="password" placeholder="Password" class="password">
            <input type="submit" value="Login" class="login">
        </form>
    </body>
</html>
