<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Betfair API Bot</title>
    </head>
    <body>
        <h1>Betfair API Bot</h1>
        <p>Welcome!</p>
        <p>Menu</p>

        <form action="/listEventTypes">
            <input type="submit" value="View Event Types">
        </form>
    </body>
</html>
