<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Betfair API Bot - Market Book</title>
    </head>
    <body>
        <h1>Market Book</h1>
        <div th:unless="${ marketBook == null }">
            <p th:text="${ marketBook.getMarketId() }"></p>
            <p th:text="${ marketBook.toString() }"></p>
            <div th:each="runner : ${ marketBook.getRunners() }">
                <p th:text="${ runner.toString() }"></p>
                <div th:each="price : ${ runner.getAvailableToBack() }">
                    <p th:text="${ price.toString() }"></p>
                </div>
                <div th:each="price : ${ runner.getAvailableToLay() }">
                    <p th:text="${ price.toString() }"></p>
                </div>
                <div th:each="price : ${ runner.getTradedVolume() }">
                    <p th:text="${ price.toString() }"></p>
                </div>
                <a th:href="@{/bets/new/{marketId}/{selectionId}(selectionId=${runner.getSelectionId()}, marketId=${marketBook.getMarketId()})}">
                    <button>Place A Bet</button>
                </a>
            </div>
        </div>
    </body>
</html>
