<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <title>Betfair API Bot - Event Types</title>
    </head>
    <body class="body">
        <div class="pageContainer">

            <header class="heading">
                <h1 class="mainTitle">Betfair API Bot</h1>
            </header>

            <h2>Event Types</h2>

            <div th:unless="${ eventTypes == null || eventTypes.size() == 0 }"v>
                <table class="eventType">
                    <tr>
                        <th class="tableHeader">Sport</th>
                        <th class="tableHeader">Market Count</th>
                    </tr>
                    <tr th:each="eventType : ${ eventTypes }">
                        <td th:text="${ eventType.getName() }" class="tableRow"></td>
                        <td th:text="${ eventType.getMarketCount() }" class="tableRow"></td>
                        <td>
                            <a th:href="@{/listEvents/{eventTypeId}(eventTypeId=${eventType.getId()})}">
                                <button class="button">View Events</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
