<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <title>Betfair API Bot - Event Types</title>
    </head>
    <body>
        <h1>Event Types</h1>
        <div th:unless="${ eventTypes.size() == 0 }">
            <div th:each="eventType : ${ eventTypes }">
                <p th:text="${ eventType.toString() }"></p>
                <a th:href="@{/listEvents/{eventTypeId}(eventTypeId=${eventType.getId()})}">
                    <button>View Events</button>
                </a>
            </div>
        </div>
    </body>
</html>
