<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <link rel="stylesheet" th:href="@{/styles/marketCatalogue.css}">
        <title>Betfair API Bot - Market Catalogue</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <h2>Market Catalogue</h2>
            <section class="marketDescription">
                <div th:text="${ marketCatalogue.get(0).getEventTypeName() }" class="eventType"></div>
                <div th:unless="${ marketCatalogue.get(0).getCompetitionName() == null ||
                        marketCatalogue.get(0).getCompetitionName().equals(marketCatalogue.get(0).getEventName()) }">
                    <div th:text="${ marketCatalogue.get(0).getCompetitionName() }" class="competition"></div>
                </div>
                <div th:text="${ marketCatalogue.get(0).getEventName() }" class="event"></div>
            </section>

            <div th:unless="${ marketCatalogue == null }">
                <div th:each="market : ${ marketCatalogue }" class="market">
                    <div th:text="${ market.getMarketName() }" class="marketName"></div>
                    <a th:href="@{/listMarketBook/{marketId}(marketId=${market.getMarketId()})}"><button class="button">View Best Prices</button></a>
                    <a th:href="@{/marketSubscription/new/{marketId}(marketId=${market.getMarketId()})}"><button class="button">Subscribe to ESA</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
