<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <title>Betfair API Bot - Market Book</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <div class="heading">
                <h1 class="mainTitle">Betfair API Bot</h1>
            </div>

            <h2>Market Book</h2>

            <div th:unless="${ marketBook == null }">
                <p class="marketName">
                    <span>Showing best prices for </span>
                    <span th:text="${ marketBook.getMarketName() }"></span>
                </p>
                <div th:each="runner : ${ marketBook.getRunners() }">
                    <p th:text="${ runner.getRunnerName() }"></p>
                    <div th:each="price : ${ runner.getAvailableToBack() }">
                        <p>
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span>, Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </p>
                    </div>
                    <div th:each="price : ${ runner.getAvailableToLay() }">
                        <p>
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span>, Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </p>
                    </div>
                    <div th:each="price : ${ runner.getTradedVolume() }">
                        <p>
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span>, Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </p>
                    </div>
                    <a th:href="@{/bets/new/{marketId}/{selectionId}(selectionId=${runner.getSelectionId()}, marketId=${marketBook.getMarketId()})}">
                        <button class="button">Place A Bet</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
