<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <link rel="stylesheet" th:href="@{/styles/marketCatalogue.css}">
        <title>Betfair API Bot - Market Book</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <div th:unless="${ marketBook == null }">
                <h2 class="marketTitle" th:text="${ marketBook.getMarketName() }"></h2>
                <p class="eventType" th:text="${ marketBook.getEventTypeName() }"></p>
                <p class="event" th:text="${ marketBook.getEventName() }"></p>
                <div class="competition" th:unless="${ marketBook.getCompetitionName() == null ||
                    marketBook.getCompetitionName().equals(marketBook.getEventName()) }">
                    <p th:text="${ marketBook.getCompetitionName() }"></p>
                </div>

                <div class="runnerContainer">
                    <article class="runner" th:each="runner : ${ marketBook.getRunners() }">
                        <p class="runnerName" th:text="${ runner.getRunnerName() }"></p>
                        <a th:href="@{/bets/new/{marketId}/{selectionId}(selectionId=${runner.getSelectionId()}, marketId=${marketBook.getMarketId()})}">
                            <button class="button">Place A Bet</button>
                        </a>
                        <div class="priceSize" th:each="price : ${ runner.getAvailableToBack() }">
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span> Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </div>
                        <div th:each="price : ${ runner.getAvailableToLay() }">
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span>, Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </div>
                        <div th:each="price : ${ runner.getTradedVolume() }">
                            <span>Price: </span>
                            <span th:text="${ price.getPrice() }"></span>
                            <span>, Size: </span>
                            <span th:text="${ price.getSize() }"></span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </body>
</html>
