<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <title>Betfair API Bot - Events</title>
    </head>
    <body>
        <h1>Events</h1>
        <div th:unless="${ events == null || events.size() == 0 }">
            <table class="event">
                <tr>
                    <th class="tableHeader">Event</th>
                    <th class="tableHeader">Country</th>
                    <th class="tableHeader">Date</th>
                    <th class="tableHeader">Market Count</th>
                </tr>
                <tr th:each="event : ${ events }">
                    <td th:text="${ event.getName() }" class="tableRow"></td>
                    <td th:text="${ event.getCountryCode() }" class="tableRow"></td>
                    <td th:text="${ event.getOpenDate() }" class="tableRow"></td>
                    <td th:text="${ event.getMarketCount() }" class="tableRow"></td>
                    <td>
                        <a th:href="@{/listMarketCatalogue/{eventId}(eventId=${event.getId()})}">
                            <button>View Markets</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
