<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/list.css}">
        <title>Betfair API Bot - Market Catalogue</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <div class="heading">
                <h1 class="mainTitle">Betfair API Bot</h1>
            </div>

            <h2>Market Catalogue</h2>

            <div th:unless="${ marketCatalogue == null || marketCatalogue.size() < 0 }">
                <div th:each="market : ${ marketCatalogue }">
                    <p th:text="${ market.getMarketName() }" class="marketName"></p>
                    <a th:href="@{/listMarketBook/{marketId}(marketId=${market.getMarketId()})}" class="button">
                        <button class="button">View Best Prices</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
