<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="refresh" content="5">
        <link rel="stylesheet" th:href="@{/styles/main.css}">
        <link rel="stylesheet" th:href="@{/styles/marketSubscription.css}">
        <title>Betfair API Bot - Market Catalogue</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <h2>Market Subscription</h2>

            <main th:each="mc : ${ responseMessage.getMc() }">
                <p th:text="${ mc.getEventTypeName() }"></p>
                <p th:text="${ mc.getEventName() }"></p>
                <p th:text="${ mc.getCompetitionName() }"></p>
                <p th:text="${ mc.getMarketName() }"></p>
                <div th:each="rc : ${ mc.getRc() }">
                    <p th:text="${ rc.getRunnerName() }"></p>

                    <p>Best available to lay</p>
                    <section class="data"  th:each="batl : ${ rc.getBatl() }">
                        <div class="priceLabel">Price: </div>
                        <div class="priceSize" th:text="${ batl.get(1) }"></div>
                        <div class="sizeLabel">Size: </div>
                        <div class="priceSize" th:text="${ batl.get(2) }"></div><br>
                    </section>

                    <p>Best available to back</p>
                    <section class="data" th:each="batb : ${ rc.getBatb() }">
                        <div class="priceLabel">Price: </div>
                        <div class="priceSize" th:text="${ batb.get(1) }"></div>
                        <div class="sizeLabel">Size: </div>
                        <div class="priceSize" th:text="${ batb.get(2) }"></div><br>
                    </section>

                    <p>Best virtual available to lay</p>
                    <section class="data" th:each="bdatl : ${ rc.getBdatl() }">
                        <div th:unless="${ bdatl.get(1) + bdatl.get(2) == 0 }">
                            <div class="priceLabel">Price: </div>
                            <div class="priceSize" th:text="${ bdatl.get(1) }"></div>
                            <div class="sizeLabel">Size: </div>
                            <div class="priceSize" th:text="${ bdatl.get(2) }"></div><br>
                        </div>
                    </section>

                    <p>Best virtual available to back</p>
                    <section class="data" th:each="bdatb : ${ rc.getBdatb() }">
                        <div th:unless="${ bdatb.get(1) + bdatb.get(2) == 0 }">
                            <div class="priceLabel">Price: </div>
                            <div class="priceSize" th:text="${ bdatb.get(1) }"></div>
                            <div class="sizeLabel">Size: </div>
                            <div class="priceSize" th:text="${ bdatb.get(2) }"></div><br>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </body>
</html>
