<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" th:href="@{/styles/main/main.css}">
        <link rel="stylesheet" th:href="@{/styles/markets/marketSubscription.css}">
        <script defer type="text/javascript" th:src="@{/js/main.js}"></script>

        <title>Betfair API Bot - Market Catalogue</title>
    </head>
    <body class="body">
        <div class="pageContainer">
            <header th:insert="fragments/header.html :: header"></header>

            <h2 class="title">Choose how many seconds to connect</h2>
            <div class="subscriptionSubTitle">10 seconds - 10 minutes</div>

            <div>
                <form th:action="@{/markets/subscribe/{marketId}(marketId=${marketId})}" class="timeoutForm" method="post">
                    <input type="number" max="600" min="5" step="1" name="timeout" class="timeout">
                    <input type="submit" value="Submit" class="button" id="timeoutButton">
                </form>
            </div>
        </div>
    </body>
</html>
