.eventData, .eventName, .country, .marketCount, .date, .time, .dateContainer, .at, .marketCountLabel {
    background-color: #C8D8E4;
    color: #2B6777;
}

.date, .time {
    font-weight: 600;
}

.eventData {
    width: 70%;
    border-radius: 5px;
}

.event {
    margin-top: 10px;
    display: flex;
    width: 40%;
}

.eventName {
    font-weight: 600;
    font-size: 22px;
}

.buttonContainer {
    height: 100%;
}

.eventData, .button {
    height: 160px;
}

.button {
    margin-left: 10px;
}
