.eventType, .event {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tableHeader {
    padding: 10px;
}

.tableRow {
    padding: 5px;
}

.marketName {
    font-size: 20px;
}

.bet {
    padding: 10px;
    margin-top: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.bet, .betDetail, .betDetailLabel, .cancelButton {
    border-radius: 5px;
    background-color: #C8D8E4;
    color: #2B6777;
}

.cancelButton {
    margin-top: 10px;
}
