.eventType, .event, .marketName {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tableHeader {
    padding: 10px;
}

.tableRow {
    padding: 5px;
}

.betData {
    padding: 10px;
    width: 80%;
}

.betData, .betDetail, .betDetailLabel, .cancelButton, .marketName, .runnerName, .dateContainer {
    border-radius: 5px;
    background-color: #C8D8E4;
    color: #2B6777;
}

.betDetail {
    font-weight: 600;
}

.cancelButton {
    background-color: #2B6777;
    width: 20%;
}

.betData, .cancelButton {
    margin: 5px;
}

.bet {
    display: flex;
    min-width: 30%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#cancelButton {
    height: 100%;
}
