.runner {
    margin-top: 10px;
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.runnerData {
    width: 70%;
    border-radius: 5px;
    height: 90%;
    padding: 10px;
}

.handicapData, .priceData {
    font-weight: 600;
}

.handicap, .runnerName {
    margin-bottom: 5px;
}

.runnerName {
    font-weight: 600;
    font-size: 22px;
}

.buttonContainer {
    height: 90%;
}

.button {
    margin-left: 10px;
    height: 100%
}

.runnerData, .runnerName, .noPrices, .priceType, .prices, .priceData, .label, .thContainer, .priceSize, .handicap, .handicapData {
    background-color: #C8D8E4;
    color: #2B6777;
}

.marketBookLabel, .market, .event, .eventType, .competition, .competitionContainer {
    color: #C8D8E4;
    background-color: #2B6777;
}

.eventType, .competition {
    font-size: 20px;
}

.marketBookLabel, .event, .market {
    font-size: 24px;
    font-weight: 600;
}

.marketDescription {
    margin-bottom: 30px;
    margin-top: 20px;
}

.priceType {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 5px;
}
