.event, .eventType, .competition {
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
}

.marketTitle {
    font-size: 30px;
    font-weight: 900;
}

.marketDescription {
    margin-bottom: 20px;
}

.marketName, .runnerName {
    font-size: 18px;
    font-weight: 900;
}

.marketName, .runnerData {
    height: 100%;
    padding: 20px;
}

.marketName {
    min-width: 50%;
}

.runner {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.marketName, a, .button, .runnerData {
    display: inline-block;
}

.marketName, .runnerData, .button {
    margin: 5px;
}

.marketContainer {
    min-width: 900px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.prices {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.runnerData, .noPrices, .priceType, .prices, .priceData, .label, .thContainer, .priceSize {
    background-color: #C8D8E4;
    color: #2B6777;
}

.runnerData {
    border-radius: 5px;
    min-width: 70%;
}



#placeBetButton {
    height: 95%;
}
